.fullWidthBackground {
  width: 100%;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.mainTitle {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.contraindicationContainer {
  margin-bottom: 20px;
  border: 2px solid #729c08;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contraindicationTitle {
  background-color: #d2f37e;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  transition: background-color 0.3s ease;
}

.contraindicationTitle:hover {
  background-color: #d5f882;
}

.contraindicationTitle.open {
  background-color: #d6fa7d;
  border-bottom: 1px solid #acc864;
}

.contraindicationContent {
  display: flex;
  padding: 20px;
  font-size: 18px;
  background-color: #d9eea4;
  gap: 20px;
}

.textContent {
  flex: 1;
}

.textContent ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.textContent li {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #272626;
  margin-bottom: 8px;
}

.galleryContent {
  flex: 1;
}

@media (max-width: 768px) {
  .contraindicationContent {
    flex-direction: column;
  }

  .textContent {
    margin-bottom: 20px;
  }

  .mainTitle {
    font-size: 2rem;
    padding: 0 20px;
  }

  .contraindicationTitle {
    font-size: 16px;
    padding: 15px;
  }
}
