.fullWidthBackground {
  width: 100%;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.mainTitle {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.indicationContainer {
  margin-bottom: 20px;
  border: 2px solid #94c714;
  border-radius: 8px;
  overflow: hidden;
}

.indicationTitle {
  background-color: #acc864;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  align-items: center;
  font-weight: bold;

  transition: background-color 0.3s ease;
}

.indicationTitle:hover {
  background-color: #d7eba5;
}

.indicationTitle.open {
  background-color: #ceee7d;
}

.indicationContent {
  display: flex;
  padding: 20px;
  background-color: #e3f1bf;
  font-size: 1.5rem;
}

.textContent {
  flex: 1;
  padding-right: 20px;
}

.textContent ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.textContent li {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #302f2f;
  margin-bottom: 8px;
}

.galleryContent {
  flex: 1;
}

@media (max-width: 768px) {
  .indicationContent {
    flex-direction: column;
  }

  .textContent {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .galleryContent {
    width: 100%;
  }

  .mainTitle {
    font-size: 2rem;
  }

  .indicationTitle {
    font-size: 16px;
  }
}
