.galleryWrapper {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  display: inline-block;
  background-color: #f9f9f9;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreenImage {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.mainContent {
  display: flex;
  align-items: center;
}

.navButton {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #333;
}

.imageContainer {
  position: relative;
  width: 450px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentsSection {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.commentsSection h3 {
  margin-top: 0;
}

.commentsSection ul {
  list-style-type: none;
  padding: 0;
}

.commentsSection li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.commentsSection form {
  display: flex;
  margin-top: 20px;
}

.commentsSection input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
}

.commentsSection button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  justify-content: space-evenly;
}

.likeSection {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.likes {
  font-size: 18px;
  margin-right: 8px;
}

.likeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: red;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 4px;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

.commentButton,
.fullscreenButton {
  margin-left: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}
