.fullWidthBackground {
  width: 100%;
  background-color: #e6e49e;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.mainTitle {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.questionContainer {
  margin-bottom: 20px;
  border: 1px solid #8edaec;
  border-radius: 8px;
  overflow: hidden;
}

.questionTitle {
  background-color: #9eeeea;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.questionTitle:hover {
  background-color: #29c1e7;
}

.questionTitle.open {
  background-color: #15cce4;
}

.questionContent {
  display: flex;
  padding: 20px;
  background-color: #8eeeee;
}

.textContent {
  flex: 2;
  padding-right: 20px;
}

.textContent p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.imageContent {
  flex: 1;
}

@media (max-width: 768px) {
  .questionContent {
    flex-direction: column;
  }

  .textContent {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .imageContent {
    width: 100%;
  }

  .mainTitle {
    font-size: 2rem;
  }

  .questionTitle {
    font-size: 16px;
  }
}

.contraindicationsList {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.contraindicationsList li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.contraindicationsList li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #0070f3;
  font-size: 1.2em;
}
