.wrapper {
  width: 100%;
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.description {
  font-size: 1.3em;
  line-height: 1.3;
  color: #383636;
  margin-bottom: 20px;
}

.expandableSection {
  margin-bottom: 30px;
  font-size: 1.3em;
  line-height: 1.3;
}

.sectionTitle {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 15px;
}

.sectionContent {
  display: flex;
  gap: 20px;
}

.textContent {
  flex: 2;
}

.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.imageNavButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.clickableImage {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.clickableImage:hover {
  transform: scale(1.05);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.imageContainer img {
  width: calc(50% - 7px);
  height: auto;
  /* object-fit: cover; */
}

.expandButton {
  background: none;
  border: none;
  color: #0070f3;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .sectionContent {
    flex-direction: column;
  }

  .imageContainer {
    order: -1;
  }

  .imageContainer img {
    width: calc(50% - 5px);
  }

  .title {
    font-size: 2em;
  }

  .sectionTitle {
    font-size: 1.5em;
  }

  .description,
  .textContent p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .imageContainer img {
    width: 100%;
  }
}
